@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    h1,
    h2,
    h3 {
        font-family: theme('fontFamily.display');
        letter-spacing: -0.02em;
    }
}
